@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #171717;
}

.island {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 30px;
    height: 6vh;
    width: 40vw;
}

.subtext {
    margin: 30px;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    color: aliceblue;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    text-align: center;
    min-height: calc(100vh - 90px);
}

.maintext {
    color: aliceblue;
    margin-right: 350px;
    margin-top: -20%;
    text-align: left;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30vh;
    padding: 15px;
    gap: 30px;
    border-radius: 3px;
    transform: translateX(-20rem);
    margin-top: 250px;
    filter: invert(100%);
}

.social div {
    transition: all .6s ease-in-out;
    cursor: pointer;
}


.principal {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}

.social div:hover {
    transform: scale(1.5);
}

@media (max-width: 880px) {
    .island {
        margin-top: 30px;
        width: 50vw;
        transition: 0.5s ease-in-out;

    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }


    .maintext {
        display: flex;
        flex-direction: column;
        height: 10vh;
        text-align: left;
        margin-left: 550px;
    }

    .subtext {
        width: 20px;
    }
}



@keyframes animation {

    0%,
    100% {
        top: 0;
    }

    20% {
        top: 0;
    }

    25% {
        top: -50px;
    }

    45% {
        top: -50px;
    }

    50% {
        top: -100px;
    }

    70% {
        top: -100px;
    }

    75% {
        top: -150px;
    }

    95% {
        top: -150px;
    }
}

